<div id="background">
    <img src="images/yun_5727x_1280x853.jpg" class="stretch" alt=""/>
</div>

<div id="main">
	
	<div id="welcome">
		<h1>Pratique o desapego.</h1>
		<p style="font-style: italic;">
		Cinco cores cegam os olhos.</br>
		Cinco notas ensurdecem os ouvidos.</br>
		Cinco sabores embotam o paladar.</br>
		Correr e caçar aceleram o coração.</br>
		Bens materiais impedem a ação.</br>
		</br>
		Por isso o sábio é guiado pelo que sente</br>
		e não pelo que percebe.</br>
		Assim, se desapega deste e adota aquele.</p>
		<p>Tao Te Ching, capítulo XII</p>
	</div>
	
</div>
