<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
	<meta name="author" content="Brand New Code" >
	<meta name="description" content="Desapegar-se - Pratique o desapego!" >
	<meta name="keywords" content="desapegar-se, desapegar.se, desapego, classificados, venda, compra, troca" >
	<link rel="shortcut icon" href="/favicon.ico" />
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
	<title>Desapegar-se</title>
</head>

<body>

<%= yield %>

</body>
</html>
